In [20]:
# importing necessary libraries.
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot  as plt

In [21]:
# importing dataset....
bowler_odi = pd.read_csv('bowler data odi.csv')
bowler_odi.head()

,Player Name,Country,Time Period,Matches,Played,Overs,Maiden Overs,Runs,Wickets,Best Figure,Bowling Average,Economy Rate,Strike Rate,Four Wickets,Five Wickets
0,M Muralidaran,Sri Lanka,1995-2010,24,24,230.2,13,865,30,5/31,28.83,3.75,46.0,1,1
1,SL Malinga,Sri Lanka,2004-2018,14,14,128.1,6,596,29,5/34,20.55,4.65,26.5,1,3
2,BAW Mendis,Sri Lanka,2008-2014,8,8,68.0,5,271,26,6/13,10.42,3.98,15.6,2,2
3,Saeed Ajmal,Pakistan,2008-2014,12,12,115.0,6,485,25,3/26,19.40,4.21,27.6,0,0
4,WPUJC Vaas,Sri Lanka,1995-2008,19,19,152.2,20,639,23,3/30,27.78,4.19,39.7,0,0

In [22]:
features = ['Player Name', 'Wickets','Bowling Average','Economy Rate'] # features considered.
bowler_odi = bowler_odi.dropna(subset=features)
bowler_odi = bowler_odi[features].copy()
bowler_odi

           Player Name  Wickets  Bowling Average  Economy Rate
0       M Muralidaran        30            28.83          3.75
1          SL Malinga        29            20.55          4.65
2          BAW Mendis        26            10.42          3.98
3         Saeed Ajmal        25            19.40          4.21
4          WPUJC Vaas        23            27.78          4.19
5           IK Pathan        22            27.50          5.54
6       ST Jayasuriya        22            30.31          4.48
7        Abdur Razzak        22            36.18          4.67
8           RA Jadeja        19            26.57          4.34
9     Shakib Al Hasan        19            32.73          4.87
10   Mashrafe Mortaza        18            48.22          5.69
11        Abdul Qadir        17            14.76          3.62
12       SR Tendulkar        17            21.41          4.76
13        Wasim Akram        16            18.56          3.22
14       Abdul Razzaq        16            20.18          4.28
15        N Kapil Dev        15            13.00          3.56
16       JR Ratnayeke        15            21.00          4.31
17          DNT Zoysa        14            19.78          4.01
18           R Ashwin        14            22.71          4.63
19           Umar Gul        14            35.35          5.80
20           A Kumble        14            38.00          4.15
21      Shahid Afridi        14            63.07          4.96
22         BKV Prasad        13            17.76          4.44
23        MF Maharoof        13            32.23          5.17
24           V Sehwag        12            21.16          4.56
25       Shoaib Malik        12            32.16          4.25
26            P Kumar        12            42.00          5.56
27        A Ranatunga        11            24.81          4.20
28        NLTC Perera        11            27.81          5.35
29         RAS Lakmal        11            32.90          5.08
30        Rashid Khan        10            17.20          3.72
31  Mustafizur Rahman        10            18.50          4.40
32      Kuldeep Yadav        10            23.70          4.08
33      Sohail Tanvir        10            24.10          5.73
34      Shoaib Akhtar        10            26.30          4.04
35   Shahadat Hossain        10            48.00          6.87
36        Mahmudullah        10            51.60          5.10
37        Arshad Ayub         9            13.33          3.33
38     Iftikhar Anjum         9            23.33          4.80
39     Mohammed Shami         9            25.55          6.16
40             Z Khan         9            36.33          5.23
41       UDU Chandana         9            36.77          4.36
42      Mohammad Nabi         9            36.77          3.92
43            B Kumar         9            38.11          4.43
44    KMDN Kulasekara         9            49.22          4.90

In [23]:
# scaling the data.
scaler = StandardScaler()
features = ['Wickets','Bowling Average','Economy Rate']
scaled_data = pd.DataFrame( scaler.fit_transform(bowler_odi[features]) , columns = features )
scaled_data

     Wickets  Bowling Average  Economy Rate
0   2.710372         0.002770     -1.139769
1   2.534120        -0.734545      0.056103
2   2.005362        -1.636598     -0.834157
3   1.829110        -0.836950     -0.528546
4   1.476604        -0.090730     -0.555121
5   1.300352        -0.115663      1.238687
6   1.300352         0.134561     -0.169784
7   1.300352         0.657271      0.082678
8   0.771594        -0.198478     -0.355809
9   0.771594         0.350057      0.348427
10  0.595342         1.729406      1.437998
11  0.419089        -1.250131     -1.312506
12  0.419089        -0.657964      0.202265
13  0.242837        -0.911750     -1.844004
14  0.242837        -0.767493     -0.435533
15  0.066584        -1.406855     -1.392231
16  0.066584        -0.694473     -0.395671
17 -0.109668        -0.803112     -0.794295
18 -0.109668        -0.542202      0.029528
19 -0.109668         0.583362      1.584161
20 -0.109668         0.819338     -0.608270
21 -0.109668         3.051765      0.468014
22 -0.285921        -0.982988     -0.222934
23 -0.285921         0.305533      0.747051
24 -0.462173        -0.680226     -0.063485
25 -0.462173         0.299299     -0.475396
26 -0.462173         1.175529      1.265261
27 -0.638426        -0.355202     -0.541833
28 -0.638426        -0.088058      0.986225
29 -0.638426         0.365195      0.627463
30 -0.814678        -1.032855     -1.179631
31 -0.814678        -0.917093     -0.276084
32 -0.814678        -0.454044     -0.701283
33 -0.814678        -0.418425      1.491148
34 -0.814678        -0.222520     -0.754432
35 -0.814678         1.709815      3.005919
36 -0.814678         2.030387      0.654038
37 -0.990931        -1.377469     -1.697842
38 -0.990931        -0.486992      0.255415
39 -0.990931        -0.289306      2.062509
40 -0.990931         0.670628      0.826775
41 -0.990931         0.709809     -0.329234
42 -0.990931         0.709809     -0.913882
43 -0.990931         0.829133     -0.236222
44 -0.990931         1.818454      0.388289

In [24]:
''' To find how many clusers are to be formed '''
def elbow_plot( min_k, max_k, k_max_iter):
    sum_squared_distances = []
    k_range = range(min_k,max_k+1)
    for k in k_range:
        km = KMeans(n_clusters=k, max_iter=k_max_iter, n_init=10)
        km.fit(scaled_data)
        sum_squared_distances.append(km.inertia_)
        
    # Plot the score for each value of k
    plt.plot(k_range, sum_squared_distances, 'bx-')
    plt.xlabel('k')
    plt.ylabel('Sum of squared distances')
    plt.title('Elbow Method For Optimal k')
    plt.show()

In [25]:
# elbow_plot(2,12,15)

In [26]:
# Clustering the players using k-means algorithm.
km = KMeans(n_clusters=3,n_init=50)
scaled_data['Cluster'] = km.fit_predict(scaled_data) # assigning the cluster number for each datapoint in the dataframe.
scaled_data

C:\Users\Home\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

     Wickets  Bowling Average  Economy Rate  Cluster
0   2.710372         0.002770     -1.139769        2
1   2.534120        -0.734545      0.056103        2
2   2.005362        -1.636598     -0.834157        2
3   1.829110        -0.836950     -0.528546        2
4   1.476604        -0.090730     -0.555121        2
5   1.300352        -0.115663      1.238687        2
6   1.300352         0.134561     -0.169784        2
7   1.300352         0.657271      0.082678        2
8   0.771594        -0.198478     -0.355809        2
9   0.771594         0.350057      0.348427        2
10  0.595342         1.729406      1.437998        1
11  0.419089        -1.250131     -1.312506        0
12  0.419089        -0.657964      0.202265        0
13  0.242837        -0.911750     -1.844004        0
14  0.242837        -0.767493     -0.435533        0
15  0.066584        -1.406855     -1.392231        0
16  0.066584        -0.694473     -0.395671        0
17 -0.109668        -0.803112     -0.794295        0
18 -0.109668        -0.542202      0.029528        0
19 -0.109668         0.583362      1.584161        1
20 -0.109668         0.819338     -0.608270        0
21 -0.109668         3.051765      0.468014        1
22 -0.285921        -0.982988     -0.222934        0
23 -0.285921         0.305533      0.747051        1
24 -0.462173        -0.680226     -0.063485        0
25 -0.462173         0.299299     -0.475396        0
26 -0.462173         1.175529      1.265261        1
27 -0.638426        -0.355202     -0.541833        0
28 -0.638426        -0.088058      0.986225        1
29 -0.638426         0.365195      0.627463        1
30 -0.814678        -1.032855     -1.179631        0
31 -0.814678        -0.917093     -0.276084        0
32 -0.814678        -0.454044     -0.701283        0
33 -0.814678        -0.418425      1.491148        1
34 -0.814678        -0.222520     -0.754432        0
35 -0.814678         1.709815      3.005919        1
36 -0.814678         2.030387      0.654038        1
37 -0.990931        -1.377469     -1.697842        0
38 -0.990931        -0.486992      0.255415        0
39 -0.990931        -0.289306      2.062509        1
40 -0.990931         0.670628      0.826775        1
41 -0.990931         0.709809     -0.329234        0
42 -0.990931         0.709809     -0.913882        0
43 -0.990931         0.829133     -0.236222        1
44 -0.990931         1.818454      0.388289        1

In [27]:
scaled_data.insert(0,'Player Name',bowler_odi['Player Name']) # adding player name to the cluster...
scaled_data.head()

      Player Name   Wickets  Bowling Average  Economy Rate  Cluster
0  M Muralidaran   2.710372         0.002770     -1.139769        2
1     SL Malinga   2.534120        -0.734545      0.056103        2
2     BAW Mendis   2.005362        -1.636598     -0.834157        2
3    Saeed Ajmal   1.829110        -0.836950     -0.528546        2
4     WPUJC Vaas   1.476604        -0.090730     -0.555121        2

In [28]:
# spliting the dataframe into diffrent clusters.
b0 = scaled_data.loc[scaled_data['Cluster']==0]
b1 = scaled_data.loc[scaled_data['Cluster']==1]
b2 = scaled_data.loc[scaled_data['Cluster']==2]

In [29]:
len(b0)

21

In [30]:
len(b1)

14

In [31]:
len(b2)

10