In [247]:
import pandas as pd

In [248]:
df = pd.read_csv('../datasets\\asiacup.csv')
df.head()

,Team,Opponent,Format,Ground,Year,Toss,Selection,Run Scored,Wicket Lost,Fours,Sixes,Extras,Run Rate,Avg Bat Strike Rate,Highest Score,Wicket Taken,Given Extras,Highest Individual wicket,Player Of The Match,Result
0,Pakistan,Sri Lanka,ODI,Sharjah,1984,Lose,Batting,187.0,9.0,9.0,3.0,21.0,4.06,52.04,47.0,5.0,26.0,2.0,Roy Dias,Lose
1,Sri Lanka,Pakistan,ODI,Sharjah,1984,Win,Bowling,190.0,5.0,11.0,1.0,26.0,4.36,68.51,57.0,9.0,21.0,3.0,Roy Dias,Win
2,India,Sri Lanka,ODI,Sharjah,1984,Win,Bowling,97.0,0.0,9.0,0.0,14.0,4.47,60.48,51.0,10.0,8.0,3.0,Surinder Khanna,Win
3,Sri Lanka,India,ODI,Sharjah,1984,Lose,Batting,96.0,10.0,7.0,0.0,8.0,2.34,25.74,38.0,0.0,14.0,0.0,Surinder Khanna,Lose
4,India,Pakistan,ODI,Sharjah,1984,Win,Batting,188.0,4.0,13.0,3.0,17.0,4.08,60.21,56.0,10.0,5.0,3.0,Surinder Khanna,Win

In [249]:
df = df.loc[ df['Team']=='India']
df.head()

,Team,Opponent,Format,Ground,Year,Toss,Selection,Run Scored,Wicket Lost,Fours,Sixes,Extras,Run Rate,Avg Bat Strike Rate,Highest Score,Wicket Taken,Given Extras,Highest Individual wicket,Player Of The Match,Result
2,India,Sri Lanka,ODI,Sharjah,1984,Win,Bowling,97.0,0.0,9.0,0.0,14.0,4.47,60.48,51.0,10.0,8.0,3.0,Surinder Khanna,Win
4,India,Pakistan,ODI,Sharjah,1984,Win,Batting,188.0,4.0,13.0,3.0,17.0,4.08,60.21,56.0,10.0,5.0,3.0,Surinder Khanna,Win
17,India,Bangladesh,ODI,Chattogram,1988,Win,Bowling,100.0,1.0,7.0,1.0,7.0,3.84,56.70,50.0,8.0,13.0,3.0,Navjot Sidhu,Win
18,India,Sri Lanka,ODI,Dhaka,1988,Win,Bowling,254.0,10.0,14.0,4.0,5.0,5.77,97.52,50.0,6.0,13.0,2.0,Aravinda de Silva,Lose
22,India,Pakistan,ODI,Dhaka,1988,Win,Bowling,143.0,6.0,8.0,0.0,19.0,3.51,38.29,74.0,10.0,17.0,5.0,Arshad Ayub,Win

In [250]:
features = ['Avg Bat Strike Rate','Wicket Taken','Run Scored','Fours','Sixes','Result']
df = df.dropna()
df = df[features].copy()
df.head()

    Avg Bat Strike Rate  Wicket Taken  Run Scored  Fours  Sixes Result
2                 60.48          10.0        97.0    9.0    0.0    Win
4                 60.21          10.0       188.0   13.0    3.0    Win
17                56.70           8.0       100.0    7.0    1.0    Win
18                97.52           6.0       254.0   14.0    4.0   Lose
22                38.29          10.0       143.0    8.0    0.0    Win

In [251]:
df['Result'] = df['Result'].map({'Win':1,'Lose':0, 'No Result':-1})
df.head()

    Avg Bat Strike Rate  Wicket Taken  Run Scored  Fours  Sixes  Result
2                 60.48          10.0        97.0    9.0    0.0       1
4                 60.21          10.0       188.0   13.0    3.0       1
17                56.70           8.0       100.0    7.0    1.0       1
18                97.52           6.0       254.0   14.0    4.0       0
22                38.29          10.0       143.0    8.0    0.0       1

In [252]:
df = df.loc[df.Result!=-1]
x = df.loc[ :,'Avg Bat Strike Rate':'Sixes'].values
y = df.loc[ :, 'Result':].values
# df[df.isna().any(axis=1)]
df = df.dropna()
df.head()

    Avg Bat Strike Rate  Wicket Taken  Run Scored  Fours  Sixes  Result
2                 60.48          10.0        97.0    9.0    0.0       1
4                 60.21          10.0       188.0   13.0    3.0       1
17                56.70           8.0       100.0    7.0    1.0       1
18                97.52           6.0       254.0   14.0    4.0       0
22                38.29          10.0       143.0    8.0    0.0       1

In [253]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(x,y,test_size = 0.25, random_state= 0)

In [254]:
#feature scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [255]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier = classifier.fit(X_train,y_train)

In [256]:
#prediction
y_pred = classifier.predict(X_test)#Accuracy
from sklearn import metrics
print('Accuracy Score:', metrics.accuracy_score(y_test,y_pred))

Accuracy Score: 0.8666666666666667

In [257]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[ 3,  1],
       [ 1, 10]], dtype=int64)